body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 40px;
    padding: 0;
    background-color: #c4eaec;
}
h1{
    text-align: center;
    color: rgb(3, 62, 87);


}
form{
     max-width: 700px;
     margin: auto;
     background-color:rgba(248, 242, 242, 0.911) ;
     border-radius: 10px;
     box-shadow:0 , 4px, 8px rgb(3, 62, 87);
     padding: 50px;

}
fieldset{
    border: 1.5px solid rgb(3, 62, 87);
    border-radius: 20px;
    padding: 50px;
    margin-bottom: 20px;
}
legend{
    font-weight:bold;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(3, 62, 87);
}
label {
    display: block;
    margin-top: 10px;
    color:rgb(3, 62, 87);
}
input,textarea{
    width:calc(100% - 1px);
    padding: 8px;
    margin-top: 5px;
    border:1px solid rgb(3, 62, 87);
    border-radius: 4px;
    box-sizing:border-box;
}
button{
    width: 100%;
    display: block;
    padding: 10px;
   background: #c4eaec;
   color: black;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin-top: 15px;
   font-size: 15px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
button:hover{
    background-color: rgb(9, 140, 136);
}
#resumeOutput{
    margin : auto;
    max-width: 600px;
    padding : 20px;
    border: 2px solid rgba(248, 242, 242, 0.911)  ;
    border-radius: 6px;
    background-color: rgb(194, 248, 248);
    box-shadow:0 , 4px, 8px rgb(7, 7, 7);
height: 50%;}

#resumeOutput h2{
    color: rgb(3, 62, 87);
}
.profilepicture{
    display: block;
    margin: 0 auto;
    border: 2px solid rgb(3, 62, 87);
    box-shadow: 0 8px 4px rgb(3, 62, 87);
    border-radius: 500%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}